<% layout('layout') %>

<div class="container mt-5">
  <div class="card p-4">
    <h1 class="card-tittle"><%= product.name %></h1>
    <hr>
    <p class="card-text"><strong>Deskripsi: </strong> <%= product.description %></p>
    <p class="card-text"><strong>Harga:</strong> <b>Rp <%= product.price.toLocaleString('id-ID') %></b></p>
    <a href="/" class="btn btn-secondary mt-3">Kembali Ke Beranda</a>
  </div>
</div>