<% layout ('layout') %>

<div class="container mt-5">
  <div class="card p-4">
    <h1 class="card-tittle"><%= title %></h1>
    <hr>
    <p class="card-text"><strong>ID Produk: </strong> <%= productId %></p>
    <p class="card-text"><strong>Review:</strong> <b><%= reviewId %></b></p>
    <a href="/" class="btn btn-secondary mt-3">Kembali Ke Beranda</a>
  </div>
</div>